
.errorIntro {
  visibility: visible;
	color: red;
}

.errorIntro.hidden {
	visibility: hidden;	
}

.outPut li {
	font-weight: bold;
}

.container {
	background-color: #e1ebf6;
}

h1, h2, input {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

ul li {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

ul li, input {
	font-size: 17px;
}

fieldset {
	padding: 15px 0;
}

ul li {
	list-style-type: none;
	padding: 15px;
	margin: 15px 0;
	background-color: #00323f; 	
}

ul {
	padding: 0;	
}

footer {
	text-align: right;
	font-weight: bold;
}

header {
	text-align: center;
}

header h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}	
